<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1>Details für Proteinkomplex: <%= details.name %></h1>
    </div>
    <p>Organismus: <%= details.organismus %></p>
</body>
</html>