<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <style>
            .box {
                background-color: white;
                border: 1px solid black;
                padding: 20px;
                width: fit-content;
                margin: 0 auto;
                text-align: center;
                width: 80%;
            }
            .container {
                text-align: center;
            }
            input[type="text"] {
                padding: 10px;
                width: 300px;
                margin: 10px 0;
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h1>Data-Warehouse zum CORUM Datensatz</h1>
            <p>Von Salma El Azem und David Molter</p>
        </div>
        <p>Das hier zur Verfügung gestellte Data-Warehouse zum Datensatz von CORUM (The comprehensive resource of mammalian 
            protein complexes) soll als Plattform dienen. Auf dieser Plattform können Sie nach verschiedenen Proteinkomplexen 
            suchen, bestehende Einträge aktualisieren und neue Einträge verfassen um den Datensatz zu erweitern. Mit der Suchleiste 
            kann die Datenbank auf verschiedene Proteinkomplexe durchsucht werden und umfassende Informationen abgerufen werden. 
            Über die Schaltflächen kann außerdem zu einer Tabelle navigiert werden, die wichtige Informationen zu allen 
            Proteinkomplexen enthält. Über die anderen Schaltflächen können Einträge hinzugefügt oder bestehende Einträge 
            aktualisiert werden.
        </p>
        <div class="container">
            <input type="text" placeholder="Suche nach Proteinkomplexen...">
        </div>
    </body>
</html>