body {
    font-family: Arial, sans-serif;
    background-color: lightseagreen;
    margin: 0;
    padding: 0;
    padding-top: 33px;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

p {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    text-align: justify;
    padding-top: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: gray;
}

tr:hover td{
    color: white;
}

td {
    color: #666;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
}

.box {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

/* .searchForm {
    display: flex;
    justify-content: center;
} */

.searchbar {
    transform: translateX(-400px);
    width: 210px;
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}